In [1]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv('~/data/ctown/dataset04.csv')
df_normal=pd.read_csv('~/data/ctown/dataset03.csv')
df

,DATETIME,L_T1,L_T2,L_T3,L_T4,L_T5,L_T6,L_T7,F_PU1,S_PU1,...,P_J256,P_J289,P_J415,P_J302,P_J306,P_J307,P_J317,P_J14,P_J422,ATT_FLAG
0,04/07/16 00,2.44,5.24,3.19,4.10,2.86,5.50,4.39,93.63,1,...,70.00,28.22,85.87,21.69,82.72,21.58,71.99,39.33,29.64,0
1,04/07/16 01,2.66,4.53,3.20,4.18,3.29,5.44,4.53,89.41,1,...,87.73,24.45,84.87,29.81,86.62,29.81,59.76,42.17,26.15,0
2,04/07/16 02,3.11,3.66,3.66,4.21,3.87,5.15,3.22,89.88,1,...,89.29,23.90,87.11,29.85,87.64,29.85,58.50,42.00,25.56,0
3,04/07/16 03,3.62,3.04,4.17,4.04,3.56,4.98,2.40,88.10,1,...,91.98,27.10,68.75,31.60,64.25,31.47,72.30,43.24,28.38,0
4,04/07/16 04,4.08,2.68,4.73,3.20,3.11,5.39,3.46,87.01,1,...,92.11,26.76,68.74,32.30,64.23,32.17,72.53,44.00,28.04,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4172,24/12/16 20,2.65,2.37,3.85,3.04,3.82,4.94,2.19,120.08,1,...,70.03,27.38,84.14,18.45,81.67,18.34,66.04,29.88,28.98,0
4173,24/12/16 21,2.24,2.56,3.42,2.92,3.69,5.02,1.97,119.12,1,...,68.60,27.66,83.46,25.40,60.85,25.28,66.89,30.19,29.29,0
4174,24/12/16 22,1.91,2.76,2.95,2.49,2.70,5.14,1.87,120.71,1,...,85.63,26.84,82.82,24.46,59.56,24.34,66.08,29.68,28.78,0
4175,24/12/16 23,1.52,2.52,3.33,2.03,1.69,5.10,1.39,120.02,1,...,86.15,25.78,103.63,24.77,59.01,24.65,66.42,28.98,28.08,0
4176,25/12/16 00,1.10,2.12,3.73,2.73,1.58,5.13,1.19,120.33,1,...,89.08,25.64,105.91,18.16,80.65,18.06,67.32,28.75,27.85,0

In [11]:
df.loc[1727:1727+50-1, ['DATETIME','L_T7','S_PU10','F_PU10','S_PU11','F_PU11','ATT_FLAG']]

         DATETIME  L_T7  S_PU10  F_PU10  S_PU11  F_PU11  ATT_FLAG
1727  13/09/16 23  2.84       1   25.17       1   25.13         1
1728  14/09/16 00  3.13       0    0.00       0    0.00         1
1729  14/09/16 01  3.45       0    0.00       0    0.00         1
1730  14/09/16 02  3.95       0    0.00       0    0.00         1
1731  14/09/16 03  4.78       1   23.64       1   23.60         1
1732  14/09/16 04  3.75       1   24.67       1   24.63         1
1733  14/09/16 05  2.95       0    0.00       0    0.00         1
1734  14/09/16 06  2.87       0    0.00       0    0.00         1
1735  14/09/16 07  3.47       0    0.00       0    0.00         1
1736  14/09/16 08  4.36       1   27.06       1   27.02         1
1737  14/09/16 09  4.59       0    0.00       0    0.00         1
1738  14/09/16 10  4.50       0    0.00       0    0.00         1
1739  14/09/16 11  4.29       1   22.01       1   21.97         1
1740  14/09/16 12  2.76       0    0.00       0    0.00         1
1741  14/09/16 13  2.75       1   24.54       1   24.50         1
1742  14/09/16 14  3.16       1   24.76       1   24.72         1
1743  14/09/16 15  3.51       1   26.11       1   25.99         1
1744  14/09/16 16  3.68       1   26.58       1   26.54         1
1745  14/09/16 17  4.12       1   26.28       1   26.24         1
1746  14/09/16 18  4.79       1   24.94       1   24.91         1
1747  14/09/16 19  3.47       0    0.00       0    0.00         1
1748  14/09/16 20  2.35       1   22.89       1   22.85         1
1749  14/09/16 21  2.07       1   25.39       1   25.35         1
1750  14/09/16 22  1.82       1   25.15       1   25.11         1
1751  14/09/16 23  1.70       1   25.05       1   25.01         1
1752  15/09/16 00  1.65       0    0.00       0    0.00         1
1753  15/09/16 01  2.32       0    0.00       0    0.00         1
1754  15/09/16 02  2.83       1   24.97       1   24.94         1
1755  15/09/16 03  3.69       1   24.75       1   24.71         1
1756  15/09/16 04  4.97       0    0.00       0    0.00         1
1757  15/09/16 05  3.91       0    0.00       0    0.00         1
1758  15/09/16 06  2.49       1   23.35       1   23.32         1
1759  15/09/16 07  3.07       1   23.95       1   23.92         1
1760  15/09/16 08  3.31       1   24.42       1   24.33         1
1761  15/09/16 09  2.69       0    0.00       0    0.00         1
1762  15/09/16 10  2.83       0    0.00       0    0.00         1
1763  15/09/16 11  2.81       1   22.75       1   22.72         1
1764  15/09/16 12  2.84       1   25.01       1   24.97         1
1765  15/09/16 13  3.14       1   25.87       1   25.83         1
1766  15/09/16 14  2.98       1   24.59       1   24.56         1
1767  15/09/16 15  3.64       1   24.25       1   24.21         1
1768  15/09/16 16  4.19       0    0.00       0    0.00         1
1769  15/09/16 17  4.53       0    0.00       0    0.00         1
1770  15/09/16 18  4.46       0    0.00       0    0.00         1
1771  15/09/16 19  2.68       0    0.00       0    0.00         1
1772  15/09/16 20  2.31       0    0.00       0    0.00         1
1773  15/09/16 21  2.24       1   25.93       1   25.89         1
1774  15/09/16 22  2.59       1   23.60       1   23.57         1
1775  15/09/16 23  2.84       1   22.31       1   22.27         1
1776  16/09/16 00  0.43       1   24.63       1   24.59         1

In [15]:
df.loc[2027:2027+24-1, ['DATETIME','L_T7','S_PU10','F_PU10','S_PU11','F_PU11','ATT_FLAG']]

         DATETIME  L_T7  S_PU10  F_PU10  S_PU11  F_PU11  ATT_FLAG
2027  26/09/16 11  2.41       1   31.03       0     0.0         1
2028  26/09/16 12  2.66       1   31.06       0     0.0         1
2029  26/09/16 13  2.74       1   31.05       0     0.0         1
2030  26/09/16 14  3.12       1   31.97       0     0.0         1
2031  26/09/16 15  3.84       1   31.94       0     0.0         1
2032  26/09/16 16  4.50       1   31.30       0     0.0         1
2033  26/09/16 17  3.88       0    0.00       0     0.0         1
2034  26/09/16 18  2.53       1   30.89       0     0.0         1
2035  26/09/16 19  2.96       1   31.02       0     0.0         1
2036  26/09/16 20  3.14       1   30.23       0     0.0         1
2037  26/09/16 21  3.52       1   30.75       0     0.0         1
2038  26/09/16 22  3.35       1   30.82       0     0.0         1
2039  26/09/16 23  3.02       1   30.82       0     0.0         1
2040  27/09/16 00  2.84       1   29.50       0     0.0         1
2041  27/09/16 01  3.69       1   30.44       0     0.0         1
2042  27/09/16 02  4.84       0    0.00       0     0.0         1
2043  27/09/16 03  3.67       0    0.00       0     0.0         1
2044  27/09/16 04  2.81       0    0.00       0     0.0         1
2045  27/09/16 05  3.20       1   31.91       0     0.0         1
2046  27/09/16 06  4.42       1   31.01       0     0.0         1
2047  27/09/16 07  4.28       0    0.00       0     0.0         1
2048  27/09/16 08  2.96       0    0.00       0     0.0         1
2049  27/09/16 09  2.42       1   31.64       0     0.0         1
2050  27/09/16 10  3.47       1   30.39       0     0.0         1

In [26]:
df[df['DATETIME']=='26/11/2016 17'].index

Int64Index([], dtype='int64')

In [24]:
df.loc[2027:2027+24-1, ['DATETIME','L_T7','S_PU10','F_PU10','S_PU11','F_PU11','ATT_FLAG']].mean()

/var/folders/j8/y6fbcd556gz5zc9j5h889ts40000gn/T/ipykernel_12826/3319458662.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.loc[2027:2027+24-1, ['DATETIME','L_T7','S_PU10','F_PU10','S_PU11','F_PU11','ATT_FLAG']].mean()

L_T7         3.344583
S_PU10       0.750000
F_PU10      23.240417
S_PU11       0.000000
F_PU11       0.000000
ATT_FLAG     1.000000
dtype: float64

# attack 3

In [22]:
df_normal.loc[:,['DATETIME','L_T1','S_PU1','F_PU1','S_PU2','F_PU2','P_J269','ATT_FLAG']].mean()

/var/folders/j8/y6fbcd556gz5zc9j5h889ts40000gn/T/ipykernel_12826/2482691993.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_normal.loc[:,['DATETIME','L_T1','S_PU1','F_PU1','S_PU2','F_PU2','P_J269','ATT_FLAG']].mean()

L_T1          2.676905
S_PU1         1.000000
F_PU1       100.926032
S_PU2         0.730624
F_PU2        69.464357
P_J269       32.369772
ATT_FLAG      0.000000
dtype: float64

In [25]:
df.loc[2337:2337+59, ['DATETIME','L_T1','S_PU1','F_PU1','S_PU2','F_PU2','P_J269','ATT_FLAG']].mean()

/var/folders/j8/y6fbcd556gz5zc9j5h889ts40000gn/T/ipykernel_12826/2778037769.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.loc[2337:2337+59, ['DATETIME','L_T1','S_PU1','F_PU1','S_PU2','F_PU2','P_J269','ATT_FLAG']].mean()

L_T1         4.266833
S_PU1        1.000000
F_PU1       89.805167
S_PU2        1.000000
F_PU2       89.821167
P_J269      38.300667
ATT_FLAG     1.000000
dtype: float64

# attack 5